body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #3498db;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: rgb(226, 190, 9);
}

.form-section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: rgb(226, 190, 9);
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-group {
  display: flex;
  margin-bottom: 16px;
}

.radio-group input {
  margin-right: 8px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .container {
      padding: 10px;
  }

  input,
  select,
  textarea {
      margin-bottom: 10px;
  }

  button {
      width: auto;
  }
}